.IngridientsList {
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.IngridientsList__link {
  text-decoration: none;
  color: #f2f2f3;
}
