.ProfileUser__wrapper{
  max-width: 860px;
  display: flex;
  justify-content: center;
  margin: 120px 0  0 200px;
}

.ProfileUser__Tab_wrapper{
  width: 320px;
}

.email__wparrer{
  display: flex;
  flex-direction: column;
}

.ProfileUser_text{
  display: flex;
  flex-direction: column;
}