.ProfileUser{
  max-width: 860px;
  display: flex;
  justify-content: center;
  margin: 120px 0  0 380px;
}

.ProfileUser__wrapper{
  width: 320px;
  display: flex;
  flex-direction: column;
}

.ProfileUser__link {
  text-decoration: none;
  color: #F2F2F3;
  height: 64px;
}

.ProfileUser__button {
  color: #F2F2F3;
  border: none;
  background-color: transparent;
  text-align: left;
  height: 64px;
}

.email__wparrer{
  display: flex;
  flex-direction: column;
}

.ProfileUser_text{
  display: flex;
  flex-direction: column;
}

.button__wrapper{
  display: flex;
  justify-content: right;
}