.ForgotPassword__wrapper{
  max-width: 480px;
  text-align: center;
  margin: 196px auto;
}

.ForgotPassword__textWrapper{
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0;
}

.ForgotPassword__buttonWrapper {
  padding: 0;
}