.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 88px;
  margin-top: 40px;
  background-color: #1c1c21;
}

.header__navigation {
  width: 100%;
  width: 1280px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon__wrapper {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.link__wrapper {
  display: flex;
  align-items: center;
}

.linkActive {
  color: #F2F2F3;
  font-family: JetBrains Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

