.burger__wrapper {
  max-width: 600px;
  height: 912px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
  text-wrap: wrap;
  margin-left: 16px;
}

.ingridients__wrapper {
  overflow: scroll;
  overflow-x: hidden;
}

.order__wrapper {
  display: flex;
  margin-left: 210px;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

.icon__wrapper {
  display: flex;
  padding-right: 8px;
  cursor: pointer;
}

.ConstructorElement__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ConstructorElement{
  background-color: #1C1C21;
  width: 568px;
  margin-bottom: 16px;
}

.button__wrapper {
  width: 215px;
}

.ingridient__costText {
  margin-right: 8px;
}
